@page
@model ListApp.Pages.Lists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.List.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.List.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.UserId)
        </dd>
    </dl>
</div>
<div>
    <h5>List Items</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Text</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listItem in Model.List.ListItems)
            {
                <tr>
                    <td>
                        @listItem.Name
                    </td>
                    <td>
                        <a asp-page="./DeleteListItem" asp-route-id="@listItem.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Item Name</label>
                <input name="itemName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.List.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
