@page
@model ListApp.Pages.Lists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.List.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.List.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.List.UserId)
        </dd>
    </dl>
</div>
<div>
    <h5>List Items</h5>
    @foreach( var listItem in Model.List.ListItems )
    {
        <li>@listItem.Name</li>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.List.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
